<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오광혁_자기소개</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap" rel="stylesheet">
</head>

    <body>
    {% extends 'base.html'%}
    {% load static %}
    {% block content %}
    <div class="home">
        <p>HOME</p>
    </div>
    <div class="second">
        <div>
            <img class="profile-img" src="{% static 'images/profile.jpg'%}"/>
        </div>
        <div class="profile-info">
            <div id="profile-comment">
                <h2>어흥! Lv1. 아기사자 오광혁입니다!</h2>
            </div>
            <a class="insta" href="https://www.instagram.com/5_pang/" target="_blank"><img src="https://mblogthumb-phinf.pstatic.net/MjAxOTAxMDlfNTMg/MDAxNTQ3MDE4MzI4NDIy.O4sP_QpdWO9GiVpfkp92MLvnMGBRzm82q3VhEfz8GMQg.kTDiopuqqvHXHZJ784QiGWX-DwGaEj3mvQ04aCqPC0Qg.PNG.designpress2016/Instagram_logo_2016.png?type=w800" width='100px'/></a>
            <a class="facebook" href="https://www.facebook.com/gwanghyeog.o1/" target="_blank"><img src="https://pds.joins.com/news/component/betanews/201810/26/98e41ab7.png" width='110px'/></a>
            <a class="blog" href="https://blog.naver.com/okh9712" target="_blank"><img src="{% static 'images/blog.png' %}" width='150px'/></a>
        </div>
    </div>
    {% endblock %}
    </body>
</html>

