{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="home">
        <p>HOME</p>
    </div>
    <div class="first">
        <div class="skill">
            <p>&lt; My Skill&gt;</p>
            <img class='python' src="{% static 'images/python.png'%}" width='150px' height='150px'>
            <img class='sql' src="{% static 'images/sql.png'%}" width='150px' height='150px'>
        </div>
        <div class="profile">
            <img class="profile-img" src="{% static 'images/profile.jpg'%}"/>
            <div class="profile-info">
            <div id="profile-comment">
                <h2>어흥! Lv1. 아기사자 오광혁입니다!</h2>
            </div>
            <a class="insta" href="https://www.instagram.com/5_pang/" target="_blank"><img src="https://mblogthumb-phinf.pstatic.net/MjAxOTAxMDlfNTMg/MDAxNTQ3MDE4MzI4NDIy.O4sP_QpdWO9GiVpfkp92MLvnMGBRzm82q3VhEfz8GMQg.kTDiopuqqvHXHZJ784QiGWX-DwGaEj3mvQ04aCqPC0Qg.PNG.designpress2016/Instagram_logo_2016.png?type=w800" width='100px'/></a>
            <a class="facebook" href="https://www.facebook.com/gwanghyeog.o1/" target="_blank"><img src="https://pds.joins.com/news/component/betanews/201810/26/98e41ab7.png" width='110px'/></a>
            <a class="blog" href="https://blog.naver.com/okh9712" target="_blank"><img src="{% static 'images/blog.png' %}" width='150px'/></a>
            </div>
        </div>
        <div class='teach'>
            <p>&lt;Future Skill&gt;</p>
            <img class='hc' src="{% static 'images/web.png'%}" width='200px' height='200px'>
            <div class='part'>
            <img class='js' src="{% static 'images/js.png'%}" width='100px' height='100px'>
            <img class='django' src="{% static 'images/django.png'%}" width='100px' height='100px'>
            </div>
          </div>
        </div>
{% endblock %}
