{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class = 'home'>
        <p>Posts</p>
    </div>
    {% for post in posts%}
    <div>
    <br>
    <h3>{{post.title}}</h3>
    {% if post.writer %}
        {% if 'user' in post.writer.username and post.writer.username != 'user' %}
            작성자: <a class='write' href = "{% url 'users:mypage' post.writer.id %}">{{post.writer.last_name}} {{post.writer.first_name}}</a>
        {% else %}
            작성자: <a class='write' href = "{% url 'users:mypage' post.writer.id %}">{{post.writer}}</a>
        {% endif %}
        {% else %}
            작성자: 알수 없음
        {% endif %}<br>
        
    내용: {{post.summary}}
    <a class='write' href = "{%url 'main:detail' post.id%}">...더보기</a><br><br>
    </div>
    {% endfor %}
 
{% else %}
<h3>로그인 후 이용 가능</h3>
<a href = "{% url 'account_login'%}">로그인</a>
<a href = "{% url 'account_signup'%}">회원가입</a>
{% endif %}

{% endblock %}

