{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class='home'>
        <p>What I Like</p>
    </div>
    <div class="second">
        <img class="uyuni" src="{% static 'images/uyuni.jpg'%}" width="330px" height="330px"/>
        <img class="tower" src="{% static 'images/towerbridge.jpg'%}" width="330px" height="330px"/>
        <video class="soccer" src="{% static 'images/soccer.mp4'%}" width="330px" height="330px" controls></video>
        <img class="movie" src="http://t1.daumcdn.net/cfile/2653C44F5285D86E2D" width="330px" height="330px"/>
    </div>

    <div class="content">
        <i class="fas fa-plane-departure">여행:남미(페/볼/칠/아/브),유럽(영/스/독),북미(미국),아시아(일본,중국,베트남,태국)</i><br>
        <i class="fas fa-running">운동:축구,런닝,헬스</i><br>
        <i class="fas fa-music">음악듣기:팝송(MAX,Jason Mraz,New Hope Club)</i><br>
        <i class="fas fa-video">영화보기:어바웃타임,미드나잇 인 파리</i>
    </div>
    
    <script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous">
    </script>
{% endblock %}
