
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who am I</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap" rel="stylesheet">
</head>
<body>
    {% extends 'base.html'%}
    {% load static %}
    {% block content %}
    <div class="home">
        <p>Who am I</p>
    </div>
    <div class="third">
        <img class="baby"src="{% static 'images/baby.jpg'%}" width="330px" height="330px"/>
        <img class="ise" src="{% static 'images/ise.png'%}" width="330px" height="330px"/>
        <img class="mbti" src="{% static 'images/mbti.jpg'%}" width="330px" height="330px"/>
        <img class="flower" src="{% static 'images/flower.jpg'%}" width="330px" hegiht="330px"/>
    </div>    
    
    <div class="content">
        <i class="fas fa-baby">출생:1997.10.20(25살,반오십)</i><br>
        <i class="fas fa-database">학과:산업시스템공학과/데이터 사이언스 소프트웨어</i><br>
        <i class="fas fa-file-signature">별명:팡,팡혁,오팡</i><br>
        <i class="fas fa-male">MBTI:ESFJ</i><br>
        <i class="fas fa-phone-alt">010-2054-7451</i><br>
        <i class="fas fa-envelope">E-mail:okh9712@naver.com</i><br>
    </div>

    <script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous">
    </script>
    {% endblock %}
</body>
</html>
