body{
    background-color:rgb(247, 233, 194);
}

.home{
    border:1px solid rgb(180, 110, 77);
    background-color:rgb(180, 110, 77);
    text-align:center;
    font-weight:bold;
}

.home p{
    font-size:40px;
    font-weight:bold;
}

.first{
    display:flex;
    margin-top:20px;
}

.skill{
    display:flex;
    width:20%;
    margin-top:100px;
    margin-left:100px;
    flex-direction:column;
    text-align:center;
}

.python{
    margin-left:75px;
    margin-top:50px;
}

.sql{
    margin-left:75px;
    margin-top:50px;
}

.profile{
    width:60%;
}

.profile-img{
    display:block;
    margin:0px auto;
    width:500px;
    height:500px;
}

.profile-info{
    text-align:center;
}

.teach{
    display:flex;
    flex-direction:column;
    width:20%;
    text-align:center;
    margin-top:100px;
    margin-right:100px;
}
.part{
    display:flex;
    flex-direction:row;
}

.hc{
    margin-left:50px;
    margin-top:30px;
}

.js{
    margin-left:50px;
    margin-top:50px;
}

.django{
    margin-top:50px;
    margin-left:10px;
}

.facebook{
    margin-left:15px;
}

#profile-comment{
    font-family: 'Lato', sans-serif;
    padding:10px;
}

li{
    font-family: 'Lato', sans-serif;
    font-size:30px;
}