    {% extends 'base.html'%}
    {% load static %}
    {% block content %}
    <div class='home'>
        <p>My Future</p>
    </div>
    <div class="fourth">
        <div class="future">
            <a class="ise-link" href="http://ise.dongguk.edu/index.php" target="_blank">산업공학</a>
            <h1>+</h1>
            <a class="ds" href="https://itcec.dongguk.edu/index.php" target="_blank">데이터 사이언스 소프트웨어</a>
        </div>
        <div class="arrow">
            <i class="fas fa-long-arrow-alt-right fa-10x"></i>
            <div class="lion">
              <a href="http://www.dgulion.com//" target="_blank"><img src="{% static 'images/image01.jpg' %}" width="250px" hegith="250px"/></a><br>
              <i class="far fa-thumbs-up"></i>동국대 멋사<i class="far fa-thumbs-up"></i>
            </div>
        </div>
        <div class="future-pic">
            <i class="fas fa-question fa-10x"></i>
            <h1>금융권 IT/디지털</h1>
            <h3>or</h3>
            <h1>데이터 분석가</h1>
        </div>
    </div>
        
    <script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous">
    </script>
    {% endblock %}
