{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = 'home'>
    <p>My Page</p>
</div>

<div class="container">
    <h1>
    {% if 'user' in user.username and user.username != 'user' %}
        {{ user.last_name }} {{ user.first_name }}
    {% else %}
        {{ user.username }}
    {% endif %}
    </h1>
    <br>

    {% if request.user != user %}
        {% if request.user.profile in user.profile.followers.all %}
            <a href="{%url 'users:follow' user.id %}"><button type="button" class="btn btn-outline-info">언팔로우</button></a>
        {% else %}
            <a href="{%url 'users:follow' user.id %}"><button type="button" class="btn btn-info">팔로우</button></a>
        {% endif %}
    {% endif %}

    </h1>
    <div class="container">
        <h3>팔로워{{user.profile.followers.count}}명</h3>
        {%for follower in user.profile.followers.all %}
            <a class='write' href="{% url 'users:mypage' follower.user.id %}">{{follower.user.username}}</a>
        {% endfor %}
        <h3>팔로잉{{user.profile.followings.count}}명</h3>
        {% for following in user.profile.followings.all %}
            <a class='write' href="{%url 'users:mypage' following.user.id%}">{{following.user.username}}</a>
        {% endfor %}
        </div>
    <br><br>

    <div>
        {% for post in posts %}
            <a class = 'write' href="{%url 'main:detail' post.id%}">{{post.title}}</a><hr>
        {%endfor%}
    </div>
</div>
{% endblock %}
